body {
    background-color: #212121 !important;
    color: #fafafa !important;
}

h3 {
    color: #ffea00 !important;
    text-align: center !important;
}

#link a {
    text-decoration: none;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySlides {
    height: 500px;
    width: auto;
    padding: 10px;
}

.b1 {
    padding-top: 3px;
    width: 40px;
    height: 40px;
}

.b2 {
    padding-top: 3px;
    width: 40px;
    height: 40px;
}